@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:rgb(94, 94, 94);
}

li, a, {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.navbar air-el air-el-li nav-item{
    display: flex;
    justify-content: space-between;
    letter-spacing:normal; 
    text-transform:none;
    color:rgb(94, 94, 94);
    margin-left:0px;
    margin-botton:none;
    display:inline-block;
    list-style:none;
    vertical-align:top;
    padding-left:32px;
    white-space:nowrap;
    position:relative;
    font-size:16px;
    first-child{margin-left: 0;}
    first-child{padding-left: 0;
}