#hildrednbaker @media (min-width: 1280px) {
  .air .c1-f {
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  .air .c1-15 {
    width: 1160px;
  }
}
@media (min-width: 1280px) {
  .air .c1-5w {
    font-size: 32px;
  }
}
@media (min-width: 1280px) {
  .air .c1-6d {
    font-size: 22px;
  }
}
@media (min-width: 1280px) {
  .air .c1-85 {
    font-size: 44px;
  }
}
@media (min-width: 1280px) {
  .air .c1-92 {
    font-size: 14px;
  }
}
