#hildrednbaker @media (min-width: 768px) {
  .x .c1-d {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .x .c1-13 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-2d {
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-3d {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-3e {
    max-height: 80px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-3f {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-3g {
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-3h {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-3i {
    margin-left: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-43 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-59 {
    right: 0px;
  }
}
@media (min-width: 768px) {
  .x .c1-5u {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .x .c1-6a {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .x .c1-83 {
    font-size: 38px;
  }
}
@media (min-width: 768px) {
  .x .c1-8z {
    width: auto;
  }
}
@media (min-width: 768px) {
  .x .c1-90 {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .x .c1-9i {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .x .c1-9j {
    margin-right: -24px;
  }
}
@media (min-width: 768px) {
  .x .c1-9k {
    margin-bottom: -48px;
  }
}
@media (min-width: 768px) {
  .x .c1-9l {
    margin-left: -24px;
  }
}
@media (min-width: 768px) {
  .x .c1-9p {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .x .c1-9q {
    padding-right: 24px;
  }
}
@media (min-width: 768px) {
  .x .c1-9r {
    padding-bottom: 48px;
  }
}
@media (min-width: 768px) {
  .x .c1-9s {
    padding-left: 24px;
  }
}
@media (min-width: 768px) {
  .x .c1-9t {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .x .c1-9u {
    flex-basis: 50%;
  }
}
@media (min-width: 768px) {
  .x .c1-9v {
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .x .c1-9w {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-ay {
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .x .c1-bv {
    margin-left: 16px;
  }
}
@media (min-width: 768px) {
  .x .c1-bw {
    margin-right: 16px;
  }
}
@media (min-width: 768px) {
  .x .c1-c9 {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .x .c1-cb {
    margin-top: 4px;
  }
}
@media (min-width: 768px) {
  .x .c1-cc {
    margin-bottom: 4px;
  }
}
@media (min-width: 768px) {
  .x .c1-cd {
    margin-right: 24px;
  }
}
@media (min-width: 768px) {
  .x .c1-ce {
    height: 100%;
  }
}
@media (min-width: 768px) {
  .x .c1-d5 {
    max-width: 30%;
  }
}
