# hildrednbaker .air {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  box-sizing: border-box;
}
.air *,
.air :after,
.air :before {
  box-sizing: inherit;
}
.air-el a[href^="mailto:"]:not(.air-el),
.air-el a[href^="tel:"]:not(.air-el) {
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
}
.air-el-article,
.air-el-aside,
.air-el-details,
.air-el-figcaption,
.air-el-figure,
.air-el-footer,
.air-el-header,
.air-el-hgroup,
.air-el-main,
.air-el-menu,
.air-el-nav,
.air-el-section,
.air-el-summary {
  display: block;
}
.air-el-audio,
.air-el-canvas,
.air-el-progress,
.air-el-video {
  display: inline-block;
  vertical-align: baseline;
}
.air-el-audio:not([controls]) {
  display: none;
  height: 0;
}
.air-el-template {
  display: none;
}
.air-el-a {
  background-color: transparent;
  color: inherit;
}
.air-el-a:active,
.air-el-a:hover {
  outline: 0;
}
.air-el-abbr[title] {
  border-bottom: 1px dotted;
}
.air-el-b,
.air-el-strong {
  font-weight: 700;
}
.air-el-dfn {
  font-style: italic;
}
.air-el-mark {
  background: #ff0;
  color: #000;
}
.air-el-small {
  font-size: 80%;
}
.air-el-sub,
.air-el-sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.air-el-sup {
  top: -0.5em;
}
.air-el-sub {
  bottom: -0.25em;
}
.air-el-img {
  vertical-align: middle;
  border: 0;
}
.air-el-svg:not(:root) {
  overflow: hidden;
}
.air-el-figure {
  margin: 0;
}
.air-el-hr {
  box-sizing: content-box;
  height: 0;
}
.air-el-pre {
  overflow: auto;
}
.air-el-code,
.air-el-kbd,
.air-el-pre,
.air-el-samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.air-el-button,
.air-el-input,
.air-el-optgroup,
.air-el-select,
.air-el-textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.air-el-button {
  overflow: visible;
}
.air-el-button,
.air-el-select {
  text-transform: none;
}
.air-el-button,
.air-el-input[type="button"],
.air-el-input[type="reset"],
.air-el-input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.air-el-button[disabled],
.air-el-input[disabled] {
  cursor: default;
}
.air-el-button::-moz-focus-inner,
.air-el-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.air-el-input {
  line-height: normal;
}
.air-el-input[type="checkbox"],
.air-el-input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.air-el-input[type="number"]::-webkit-inner-spin-button,
.air-el-input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.air-el-input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
.air-el-input[type="search"]::-webkit-search-cancel-button,
.air-el-input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.air-el-t.airtarea {
  border: 0;
}
.air-el-fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.air-el-legend {
  border: 0;
  padding: 0;
}
.air-el-textarea {
  overflow: auto;
}
.air-el-optgroup {
  font-weight: 700;
}
.air-el-table {
  border-collapse: collapse;
  border-spacing: 0;
}
.air-el-td,
.air-el-th {
  padding: 0;
}
.air {
  -webkit-font-smoothing: antialiased;
}
.air-el-hr {
  border: 0;
}
.air-el-fieldset,
.air-el-input,
.air-el-select,
.air-el-textarea {
  margin-top: 0;
  margin-bottom: 0;
}
.air-el-fieldset,
.air-el-input[type="email"],
.air-el-input[type="text"],
.air-el-textarea {
  width: 100%;
}
.air-el-label {
  vertical-align: middle;
}
.air-el-input {
  border-style: none;
  padding: 0.5em;
  vertical-align: middle;
}
.air-el-select:not([multiple]) {
  vertical-align: middle;
}
.air-el-textarea {
  line-height: 1.75;
  padding: 0.5em;
}
.air-el.d-none {
  display: none !important;
}
.sideline-footer {
  margin-top: auto;
}
.disable-scroll {
  touch-action: none;
  overflow: hidden;
  position: fixed;
  max-width: 100vw;
}
@-webkit-keyframes loaderscale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  45% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes loaderscale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  45% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
}
.air-loader svg {
  display: inline-block;
}
.air-loader svg:first-child {
  -webkit-animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) -0.24s
    infinite;
  animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) -0.24s infinite;
}
.air-loader svg:nth-child(2) {
  -webkit-animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) -0.12s
    infinite;
  animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) -0.12s infinite;
}
.air-loader svg:nth-child(3) {
  -webkit-animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0s
    infinite;
  animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0s infinite;
}
.air-icon > svg {
  transition: transform 0.33s ease-in-out;
}
.air-icon > svg.rotate-90 {
  transform: rotate(-90deg);
}
.air-icon > svg.rotate90 {
  transform: rotate(90deg);
}
.air-icon > svg.rotate-180 {
  transform: rotate(-180deg);
}
.air-icon > svg.rotate180 {
  transform: rotate(180deg);
}
.air-rt:after {
  content: "";
  clear: both;
}
.air-rt ol,
.air-rt ul {
  text-align: left;
}
.air-rt p {
  margin: 0;
}
.air-rt br {
  clear: both;
}
.mte-inline-block {
  display: inline-block;
}
@media only screen and (min-device-width: 1025px) {
  :root select,
  _::-webkit-full-page-media,
  _:future {
    font-family: sans-serif !important;
  }
}
